/* your styles go here */
.blur-me {
  filter: blur(20px);
}

.main .rsvp {
  margin-top: 45px;
  text-align: center;
}
.main .rsvp .rsvp-heading {
  font-weight: 300;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  font-size: 30px;
  margin-bottom: 10px;
}

.main .rsvp label {
  color: white;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  font-size: 30px;
}

.main .rsvp .radio {
  min-width: 120px;
}

.main .rsvp .btn-rsvp {
  margin-top: 0px;
  font-size: 20px;
}

.main .rsvp .rsvp-input-number {
  text-align: right;
  max-width: 40px;
}

@media (min-width: 768px) {
  .main .rsvp input {
    width: auto;
  }
}
@media (min-width: 992px) {
  .main .rsvp input {
    width: auto;
  }
}
@media (min-width: 1600px) {
  .main .rsvp {
    margin-top: 200px;
  }
}

.btn-donate {
  text-align: center;
}

.donation {
  text-align: center;
}
.donation h4 {
  text-align:center;
}